#graphTabNav {
    height: 500px;
}

#graphTabNav .tab-content {
    width: 100%;
    margin: 2em 0;
}

#graphTabNav .tab-pane {
    position: absolute;
    width: calc(100% - 420px);
}

.tab-pane {
   visibility: hidden;
   height: 0;
   overflow: hidden;
}

.tab-pane.active {
  visibility: visible;
  height: auto;
}
