#content-wrapper h2 {
    font: normal normal normal 1.05em Roboto, Arial, sans-serif;
    letter-spacing: 0.05em;
    width: 35px;
    padding-bottom: 0.5em;
    border-bottom: 3px solid black;
}

#services{
    display: flex;
    justify-content: space-around;
    
    text-align: left;
    margin: 1.5em 0 3em 0;
}

#services div{
    background-color: white;
    flex: 1;
    padding: 1.7em 3em;
    margin-right: 1.2em;
    border-right: 7px solid #c7c7c7;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#services div.good{
    border-right-color: #6AC0BD;
}

#services div.bad{
    border-right-color: #DDA278;
}

#services div:last-child{
    margin-right: 0;
}

#services h3{
    text-align: left;
    font: normal normal 600 0.8em Roboto, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    
    color: darkgray;
    margin: 0 0 0.7em 0;
}

#services p{
   text-transform: capitalize;
}

th:nth-child(5), th:nth-child(6), th:nth-child(7),
td:nth-child(5), td:nth-child(6), td:nth-child(7){
   display: none;
}

