* {
    margin: 0;
    padding: 0; 
}

body, html {
    height: 100%;
}

body {
    background-color: #e7e9ee;
    display: flex;
    justify-content: space-between;
    font-family: Roboto, Arial, sans-serif;
}

aside, #content {
    height: 100%;
}

aside {
    background-color: #2a3b44;
    color: white;
    position: fixed;
    top: 0;

    width: 270px;
}

#content-wrapper{
    flex: 1;
    
    padding: 2em;
    margin-left: 320px;
    margin-right: 50px;
}

header{
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header a{
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 14px;
   
    width: 80px;
    padding: 0.3em 0;
    margin-left: 20px;

    font-size: 0.9em;
    color: #4a4a4a;

    text-align: center;
}

header a:hover{
    background-color: lightgrey;
}

h1 {
    font: normal normal normal 1.4em Roboto, Arial, sans-serif;
    margin-top: 0.8em;
    letter-spacing: 0.05em;
}

nav {
    width: 100%;
    border-bottom: 1px solid lightgrey;
}

a {
    outline: 0;
}

nav a{
    list-style: none;
    display: inline-block;
    padding: 1em 20px 0.75em 0;
    font-weight: 400;
    font-size: 0.9em;
    color: #adadad;
    letter-spacing: 0.05em;
}

nav a::after{
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background: black;
    transition-duration: 0.1s;
    
    position: relative;
    top: 12px;
}

a {
    text-decoration: none;
    color: inherit;  
}

nav a:hover {
    color: #44454b;
}

nav a:hover::after {
    width: 100%;
}

aside a:hover, aside a:active {
    background-color: #304550;
    border-right: 3px solid #89bcd6;
}

#logo {
    display: block;
    margin: 2.3em auto 2.5em 2.3em;
}


aside h2 {
    text-transform: lowercase;
    font: normal small-caps 500 1.1em Roboto, Arial, sans-serif;
    letter-spacing: 3px;
    margin: 1.2em auto 0.7em auto;
    color: #b6b6b6;
    padding: 0 40px;
}

aside a {
    display: block;
    padding: 0.5em 40px;
    font-weight: 400;
}

aside p {
    margin-left: 40px;
    margin-right: 30px;
}

aside a, aside p {
    letter-spacing: 0.05em;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin: 2em auto;
}

th {
    font: normal 600 normal 1em Roboto, Arial, sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.05em;
}

td {
    font-weight: lighter;
    padding: 0.8em 0;
}

td:first-child, th:first-child {
    text-align: left;
    padding-left: 100px;
}

td:not(:first-child), th:not(:first-child){
    text-align: right;
}

tbody tr:first-child td {
    padding-top: 1.4em;
}

tr:last-child td{
    padding-bottom: 1.4em;
}

td:last-child, th:last-child{
    padding-right: 100px;
}

th{
    border-bottom: 1px solid lightgrey;
    height: 3.4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li { 
    display: inline-block;
}
